html,body{
    height:100%;
}

body {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 2%;

}        

h2 {
    color: darkgrey;
    font-size: 18px;
}

#mainLogo {
    width: 50%;
    margin-left: -15px;

}

#submit {
    background-color: #29bea2;
    color: white;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    overflow: hidden;
    
}

#submit:hover {
    background-color: darkgreen;
}

.inputBox {
    text-align: center;
}

input {
    text-align: center;
    margin: 0% 0% 1.5% 0%;
    width: 25%;
    height: 50px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;   
    color: #29bea2;
    border: 2px solid black;
    border-radius: 10px;
}

input:hover {
    background-color: lightgray;
}

::placeholder {
    color: #29bea2;
}